@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.container {
}
.App a {
  color: #ff865e;
}
.App a:hover {
  color: #ff865e;
  cursor: pointer;
}
.App-header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 80px;
  margin: 30px 0;
  text-align: center;
}
.App-footer {
  color: #ff865e;
  margin: 20px 0;
  text-align: center;
}
.App-footer a {
  text-decoration: none;
}
.App-footer a:hover {
  color: #1089ff;
}
