@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.App-header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 80px;
  margin: 30px 0;
  text-align: center;
}
.App-footer {
  margin: 20px 0;
  text-align: center;
}
