h3 {
  font-size: 35px;
}
.Meaning .definition-details {
  font-size: 18px;
  font-weight: 500;
}
.Meaning .examples {
  color: #494e54;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin-top: 8px;
}
