h3 {
  font-size: 35px;
}
.Meaning .definition {
  font-size: 18px;
}
.Meaning .definition-text {
  font-weight: bold;
}
.Meaning .definition-details {
  font-weight: 300;
}
.Meaning .examples {
  color: #6d8299;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
}
